.cmp-adaptiveform-button {
  position: relative;
  border: none;
  @include field-settings;
  @include container;

  &__help-container {
    position: relative;
  }

  &__widget:not(.reset .cmp-adaptiveform-button__widget) {
    @include primary-button;
    font-family: $font-family-default;
  } 

  @include description;
  &__shortdescription, &__longdescription{
    margin-block-start: 8px;
  }
  &__questionmark {
    @media (max-width: 480px) {
      inset-block-start: -20px;
    }
  }
}

.submit {
  border-radius: 0;
  width: 100%;
  z-index: 12;
  .cmp-adaptiveform-button {
    padding-block-end: $desktop-standard-padding;
    &__widget {
      padding: 0 $space-m;
    }
  }
}

.reset {
  .cmp-adaptiveform-button {
    &__widget {
      @include secondary-button;
      height: $tap-height;
    }
  }
}