.cmp-verticaltabs{
    font-size: $font-m;
    position: relative;
    @include layout-settings;

  &__label {
    @include panel-label;
    margin-inline-start: $space-s;
    @media(max-width: 768px) {
      margin-inline-start: $space-m;
    }
  }  
  
  &__tabs-container{
    display: flex;
    margin-top: 16px;
    @media(max-width: 768px) {
      flex-direction: column;
    }
  }

  &__label-container {
    margin-bottom: $space-s;
  }

  &__tabpanel{
    @include tab-panel;
    border: none;
    flex:1;
    @include layout-panel-adjustments;
    @media(max-width: 768px) {
      border-block-start: none;
    }
  }
  
  &__tablist{
    @media(min-width: 768px) {
      max-width: 184px;
      list-style: none;
      padding: 0;
      margin: 0;
      background-color: $white;
      border:none;
    }
    @media(max-width: 768px) {
      @include tab-list;
    }
    padding: 0;
  }
  
  &__tablist &__tab {
    @include tab;
    color: $light-secondary;
  }

  &__tab {
    cursor: pointer;
    @include tab;
    @media(min-width: 768px) {
      padding-inline: $space-s $space-m;
      border: 1px solid $very-light-gray;
      text-wrap: wrap;
      height: unset;
      padding-block: 0.5rem;
      max-height: 6rem;

      &--active,&--active:hover {
        color: $dark-orange;
        background: none;
        background-color: $white;
        display: flex;
        align-items: center;
        border: none;
      }
    }
    
  }

  @media(max-width: 768px) {
    @include tab-customizations(".cmp-verticaltabs","end-end","end-start");    
  }
  @media(min-width: 768px) {
    @include tab-customizations(".cmp-verticaltabs","end-end","start-end");   
  }
  
  @include description;
}