.cmp-adaptiveform-wizard {
  @include container;

  &__widget {
    border: 1px solid rgba(0, 0, 0, 0.20);
    background-color: $white;
  }

  &__label-container {
    margin-bottom: $space-s;
  }

  &__label {
    @include panel-label;
  }

  @include description;

  &__tabs-container {
    overflow: auto;
    scrollbar-width: none;
  }

  &__tabList {
    @include tab-list;
  }

  &__tab {
    @include wizard-tab;
    &:hover:not(.cmp-adaptiveform-wizard__tab--active) {
      color: $light-gray;
      background: $background-tab;
    }
  }

  @include tab-customizations(".cmp-adaptiveform-wizard","bottom-right","bottom-left");

  &__wizardpanel {
    @include tab-panel;
    border-top: none;
  }

  &__previousNav {
    @include wizard-previous-button;
  }

  &__nextNav {
    @include wizard-next-button;
  }
  &__containerNav {
    display: flex;
    justify-content: end;
    gap: $space-s;
    position: absolute;
    width: 100%;
    inset-block-end: -80px;
  }

  &__nav {
    &--previous {
      @include wizard-previous-button;
      
    }
    &--next {
      @include wizard-next-button;
    }
  }
}