.cmp-adaptiveform-radiobutton {
  @include container;
  @include field-settings;

  &__label {
    @include label;
  }


  &:focus-within:not([data-cmp-enabled=false]) &__label-container &__label {
      color: $focus-dark;
  }

  &__widget {
    @include list-container;
    &.VERTICAL {
      border: 1px solid $very-light-gray;
      border-radius: 6px;
      & .cmp-adaptiveform-radiobutton__option {
        border: 1px solid $very-light-gray;
      }
    }
  }

  @include description;

  &-item &__label,&__option-label {
    font-size: 18px;
    height: 18px;
    font-weight: $font-weight-normal;
  }

  &__errormessage {
    @include error-message;
  }

  &__option {
    @include list-item;
    &-label {
      display: flex;
      column-gap: $space-s;
      align-items: center;
      width: 100%;
    }
    &:focus-within:not([data-cmp-enabled=false]) {
      border: $focus-border;      
    }
  }

  &[data-cmp-enabled=true] &__option,&[data-cmp-enabled=true] &__option-label {
    &:hover {
      cursor: pointer;
      background-color: $option-background;
    }
  }

  &__option__widget {
    height: 1.1rem;
    width: 1.1rem;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    appearance: none;
    margin: 0;
    border: 1px solid $black;
    background-color: $option-background;
    border-radius: 1rem;

    &:checked {
      background-color: $primary;
      border: none;
      &+ span {
        font-weight: $font-weight-semi-bold;
      }
    }

    &:checked::after {
      content: '';
      background-color: $white;
      border-radius: 6px;
      width: 100%;
      height: 100%;
    }
  }

  span {
    opacity: 1;
  }
}