.cmp-tabs {
  @include container;
  @include layout-settings;

  &__label-container {
    margin-bottom: $space-s;
  }

  &__label {
    @include panel-label;
    margin-inline-start: $space-m;
  }

  @include description;

  & &__tablist {
    @include tab-list;
  }

  &__tablist &__tab {
    @include tab;
  }

  @include tab-customizations(".cmp-tabs","end-end","end-start");

  &__tabpanel {
    @include tab-panel;
    border: none;
    @include layout-panel-adjustments;    
  }
}