//== Defaults
html,
html body {
  color: $dark-gray;
  font-size: $font-m;
  background: url(resources/images/background.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  font-family: $font-family-default;
  margin: 0;
}

*,*:before,*:after {
  box-sizing: inherit;
}

.aem-Grid {
  @include generate-grid(default, $max_col, left);
}

// Phone breakpoint
@media (max-width: 768px) {
  .aem-Grid {
    @include generate-grid(phone, $max_col, left);
  }
}

[dir="rtl"] {
  .aem-Grid {
    @include generate-grid(default, $max_col, right);
  }
  // Phone breakpoint
  @media (max-width: 768px) {
    .aem-Grid {
      @include generate-grid(phone, $max_col, right);
    }
  }
}
